@use 'mixins';
@use 'variaveis';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link {
    text-decoration: underline;
    margin: 0px 1vw;
}

.sec {
    width: variaveis.$tamanho__section;
}
.sec__list {
    list-style: none;
    padding: 0;
}
.sec__list-item {
    max-height: fit-content;
}

