@use 'variaveis';

@mixin centralizar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin centralizar__texto {
    text-align: center;
}

@mixin input-texto {
    margin-bottom: 10px;
    border-style: dotted;
    border-radius: 25px;
}

@mixin destaque {
    font-size: large;
    text-decoration: underline;
    font-weight: 400;
}



html, body {
    @include centralizar__texto;
}
.sec {
    @include centralizar__texto;
}

.nav {
    @include centralizar__texto;
    @include centralizar;
}
.nav__link {
    @include centralizar;
    @include destaque;
}
.sec__list-item {
    @include centralizar__texto;
}

.input {
    @include input-texto;
}
.button {
    @include destaque;
}